/* styles.css */

/* reset defaults */
body {
    margin: 0;
    padding: 0;
    background-color: #130f17;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  /* hero section */
  .hero-section {
    position: relative;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      #130f17 0%,
      #130f17 100%
    );
  }
  
  /* shredded overlay on top of releases section */
  .releases-section {
    position: relative;
    background-color: #f0f0f0;
    min-height: 100vh;
  }
  
  .releases-section::before {
    content: "";
    position: absolute;
    top: -60px; /* adjust as needed */
    left: 0;
    width: 100%;
    height: 60px; /* adjust as needed */
    background-color: #f0f0f0;
    z-index: 2;
    animation: waveTorn 3s infinite alternate ease-in-out;
  }
  
  @keyframes waveTorn {
    0% {
      clip-path: polygon(
        0% 100%,
        10% 95%,
        20% 98%,
        30% 95%,
        40% 99%,
        50% 97%,
        60% 98%,
        70% 95%,
        80% 98%,
        90% 95%,
        100% 100%
      );
      transform: translateX(0px);
    }
    50% {
      clip-path: polygon(
        0% 100%,
        10% 96%,
        20% 98%,
        30% 94%,
        40% 98%,
        50% 96%,
        60% 99%,
        70% 94%,
        80% 97%,
        90% 96%,
        100% 100%
      );
      transform: translateX(15px); /* how far to move horizontally */
    }
    100% {
      clip-path: polygon(
        0% 100%,
        10% 95%,
        20% 99%,
        30% 96%,
        40% 97%,
        50% 99%,
        60% 96%,
        70% 95%,
        80% 99%,
        90% 96%,
        100% 100%
      );
      transform: translateX(0px);
    }
  }
  
  
  /* main title styling */
  .main-title {
    font-family: 'NotoSansMono', sans-serif;
    color: #f0f0f0;
    font-size: 15vw;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    white-space: nowrap;
    transform: translateY(-15vh);
  }
  
  /* section title */
  .section-title {
    font-family: 'NotoSansMono', sans-serif;
    color: #130f17;
    font-size: 8vw;
  }
  
  /* gradient overlay at the bottom of hero section */
  .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: linear-gradient(
      0deg,
      rgba(240, 240, 240, 1) 0%,
      rgba(240, 240, 240, 0.95) 5%,
      rgba(240, 240, 240, 0.85) 10%,
      rgba(240, 240, 240, 0.7) 15%,
      rgba(240, 240, 240, 0.5) 20%,
      rgba(240, 240, 240, 0.3) 30%,
      rgba(240, 240, 240, 0.15) 45%,
      rgba(240, 240, 240, 0.05) 80%,
      rgba(240, 240, 240, 0) 100%
    );
    z-index: 1;
  }
  
  .vh-90 {
    height: 90vh;
  }
  